.file_upload_div{
    margin: 0;
    padding: 0 5px 0 5px;
    width: auto;
}
input[type="file"], #file_sub_bt
{
  opacity:0;
 -moz-opacity: 0;
 /* IE 5-7 */
 filter: alpha(Opacity=0);
 /* Safari  */
  -khtml-opacity: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

 }
 .input-file
{
   text-align: center;
    background-color: #3276b1;
    color: #fff;
    display: block;
    width: 114px;
    height: 23px;
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
 }
.disable_bt{
    background: lightgray;
}
