<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文件上传</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='dropzone.min.js') }}"></script>

<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>-->
<!--    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script> -->

</head>
<body>
    <div class="main">
        <div class="head">
                <h1>文件上传</h1>
        </div>


        <div class="pure-g">
            <div class="pure-u-1-5 file_upload_div">
                <form method="POST" action='/upload' class="dropzone dz-clickable"
                      id="dropper" enctype="multipart/form-data">
                </form>

            </div>

            <div class="pure-u-1-5 msg_show">
                    <span id="msg"></span>
            </div>

        </div>


        <div class="content">
            <table class="pure-table">
            <thead>
                <tr>
                    {% for d in data.data_head %}
                    <th>{{ d }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for d in data.data_content %}
                <tr>
                    {% if d.file_type=='dir' %}
                    <td><a href="/{{ d.file_path }}">{{d.file_name}}</a></td>
                    {% else %}
                    <td><a href="/media{{ d.file_path }}">{{d.file_name}}</a></td>
                    {% endif %}
                    <td>{{ d.file_type }}</td>
                    <td>{{ d.file_size }}</td>
                    <td>{{ d.file_st_mtime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

<script type="application/javascript">
    Dropzone.options.dropper = {
        paramName: 'file',
        chunking: true,
        forceChunking: true,
        url: '/upload',
        maxFilesize: 4096,
        chunkSize: 1000000,

        dictDefaultMessage: '拖动文件至此或者点击上传',
        init: function () {
        this.on("success", function (file, data) {
            alert("success@@@@@@");
            console.log(file);
            console.log(data)
        });
    }
    }

</script>

</body>
</html>